@import 'vars.scss';


// Футер прилепает к низу даже если основноего контента нет
html, body {
  height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
  height: 100%;
}

.content {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

// ТЕКСТ
body {
	margin: 0;
	font-family: $font_body;
	font-size: $text_body;
	line-height: $lh_body;
	font-weight: 400;
	color: $color_black;
	background-color: $color_gray-lighter;
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.big-title {
	font-family: $font_h;
	color: $color_black;
	font-weight: 700;
	margin: 0;
}

h1,
.h1 {
	font-size: $text_h1;
	line-height: $lh_h1;
}

h2,
.h2 {
	font-size: $text_h2;
	line-height: $lh_h2;
}

h3,
.h3 {
	font-size: $text_h3;
	line-height: $lh_h3;
}

.big-title {
	font-size: 54px;
	line-height: auto;
}

p {
	margin: 0;
}

// ИЗОБРАЖЕНИЕ // Иллюстрация растягивается по ширене родителя не меняя пропорций
img {
	max-width: 100%;
	height: auto;
}

// ССЫЛКИ

a {
	color: $color_black;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $color_primary-base;
		text-decoration: underline;
	}

	&:active {
		
	color: $color_black;
	text-decoration: underline;
	}
}