@import 'vars';
@import 'libs';
@import 'fonts';
@import 'globals';


// ###################################################################################
// MIINS start
@mixin animation {
	transition: .3s;
}

@mixin ul_reboot {
	margin: 0;
	padding: 0;

	& li {
		list-style: none;
	}
}

.btn_wrap {
	position: absolute;
	left: 60px;
	right: 0;
	top: 0;
	height: 60px;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.btn_close {
	margin-right: 24px;
	display: inline-block;
}

// MIXINS end
// ###################################################################################

/*
@include media-breakpoint-up(lg) {
	
}
*/


// Переопределяем mmenu.js
.mm-spn.mm-spn--navbar:before {
}
