</div> <!-- /.content -->
<footer>
	Подвал
</footer>
</div> <!-- /.wrapper -->

<!-- SECTION ################################################################################# -->
<!-- END SECTION ############################################################################# -->