<body>

	<div class="wrapper">
		<div class="content">
			<header>
				<a href="#my-menu">Open the menu</a>
				<nav id="my-menu">
					<div class="btn_wrap">
					<button class="btn_close">x</button>
				</div>
					<ul>
						<li><a href="/">Home</a></li>
						<li><span>About us</span>
							<ul>
								<li><a href="/about/history/">History</a></li>
								<li><a href="/about/team/">The team</a></li>
								<li><a href="/about/address/">Our address</a></li>
							</ul>
						</li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</nav>
			</header>




			<!-- SECTION ################################################################################# -->
			<!-- END SECTION ############################################################################# -->